{% extends 'panel.html' %}
{% block buttons %}
<div class="row">
    <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
        <button class="btn-default" onclick="effect('theater_chase')">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="subtitle">THEATER CHASE</span>
        </button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
        <button class="btn-default" onclick="effect('rainbow')">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="subtitle">RAINBOW</span>
         </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
        <button class="btn-default" onclick="effect('rainbow_cycle')">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="subtitle">RAINBOW CYCLE</span>
        </button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
        <button class="btn-default" onclick="effect('theater_chase_rainbow')">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="subtitle">TH.CH.RAINBOW</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
        <button class="btn-default"></button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
         <button class="btn-default"></button>
    </div>
</div>
{% endblock buttons %}
