{% extends 'panel.html' %}
{% block buttons %}
<div class="row">
    <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
        <button class="btn-default btn-c-red" onclick="color(255, 0, 0)"></button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
        <button class="btn-default btn-c-aqua" onclick="color(0, 255, 255)"></button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
        <button class="btn-default btn-c-green" onclick="color(0, 255, 0)"></button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
         <button class="btn-default btn-c-fuchsia" onclick="color(255, 0, 255)"></button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-2 col col-lg-offset-4 col">
         <button class="btn-default btn-c-blue" onclick="color(0, 0, 255)"></button>
    </div>
    <div class="col-sm-6 col-lg-2 col">
         <button class="btn-default btn-c-yellow" onclick="color(255, 255, 0)"></button>
    </div>
</div>
{% endblock buttons %}
