<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {%- block styles %}
            <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
            <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
        {%- endblock styles %}
        {% block scripts %}
            <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
            <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
            <script src="{{url_for('static', filename='js/main.js')}}"></script>
        {% endblock scripts %}
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>