<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {%- block styles %}
            <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
            <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
        {%- endblock styles %}
        {% block scripts %}
            <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
            <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
            <script src="{{url_for('static', filename='js/main.js')}}"></script>
        {% endblock scripts %}
    </head>
    <body>
        <div class="container-fluid panel">
            {% block buttons %}{% endblock buttons %}
             <div class="row">
                <div class="col-sm-6 col-lg-2 col-lg-offset-4 col">
                    <button class="btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
                </div>
                <div class="col-sm-6 col-lg-2 col">
                     <button class="btn-default"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </body>
</html>