@import "variables";
@import "placeholders";
@import "buttons";

html {
  height: 100%;
}

body {
  height: 100%;
  font: $font-size "Lucida Grande", Helvetica, Arial, sans-serif;
  @media (min-width: $screen-lg) {
    font: $font-size-lg "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border: 0;
}

.panel {
  @extend %full-height;
  .row {
    $height: 1 / $number_of_rows;
    min-height: percentage($height);
    height: percentage($height);
    margin-bottom: 8px;
    @media (min-width: $screen-lg) {
      margin-bottom: 2px;
    }
    .col {
      @extend %full-height;
    }
  }
}

#form-login {

  $border-color:#2eb82e;
  $main-color:#47d147;
  $mid-color: #99e699;
  $shadow-color:#ebfaeb;

  .row {
    margin-top: 8px!important;
    button, input {
      font: $font-size "Lucida Grande", Helvetica, Arial, sans-serif;
      height: 100%;
      @media (min-width: $screen-lg) {
        font: $font-size-lg "Lucida Grande", Helvetica, Arial, sans-serif;
      }
    }
  }

  .btn {
    @extend %full-height;
    width: 100%;
    display:inline-block;
    border-radius: 40px;
    cursor:pointer;
    color:white;
    background: linear-gradient($main-color, $mid-color 10%, $main-color)!important;
    border:20px solid $border-color!important;
    @media (min-width: $screen-lg) {
      border-radius: 20px;
      border:10px solid $border-color!important;
    }
  }
  .btn:focus {
    outline: none!important;
  }
  .btn:active{
    position:relative;
    top:1px;
    background: $border-color!important;
  }
}

