@import "variables";
@import "placeholders";

html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.panel {
  @extend %full-height;
  .row {
    $height: 1 / $number_of_rows;
    min-height: percentage($height);
    height: percentage($height);
    .col {
      @extend %full-height;
      $btn-default-border-width: 25px;
      text-align: center;
      .btn-default {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .btn-selected {
        border: $btn-default-border-width/2 solid rgba(0, 0, 0, 0.1);
        @media (max-device-width: $screen-sm){
          border: $btn-default-border-width solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
