@import "variables";
@import "placeholders";
@import "buttons";

html {
  height: 100%;
}

body {
  height: 100%;
  font: $font-size "Lucida Grande", Helvetica, Arial, sans-serif;
  @media (min-width: $screen-lg) {
    font: $font-size-lg "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border: 0;
}

.panel {
  @extend %full-height;
  .row {
    $height: 1 / $number_of_rows;
    min-height: percentage($height);
    height: percentage($height);
    margin-bottom: 8px;
    @media (min-width: $screen-lg) {
      margin-bottom: 2px;
    }
    .col {
      @extend %full-height;
    }
  }
}
